<!doctype html>
<html>
  <head>
    <title>Login page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="app.js"></script>

  </head>
  <body ng-controller="RegistrationController">

    <div class="container">
      <div class="col-xs-5 col-xs-offset-3">


        <form class="form-horizontal" ng-init="registration_data = {};">

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Имя" ng-model="registration_data.name">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="registration_data.email">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="Password" ng-model="registration_data.password">
            </div>
          </div>

          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Телефон</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phone" placeholder="Телефон" ng-model="registration_data.phone">
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="register()">Sign in</button>
            </div>
          </div>
        </form>

      </div>
    </div>

    <hr>

    <div class="container">
      <div class="col-xs-12">
        <p class="lead">Users </p>
        <table class="table">
          <thead>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Пароль</th>
          </thead>
          <tbody>
            <tr ng-repeat="user in users track by $index">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.password}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </body>


</html>